<nav class="navbar">
  <div class="container">
    <h1 class="logo"><a href="/">MOVIES DB</a></h1>
    <ul>
      <li><a class="current" href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
<header id="showcase">
  <div class="container">
    <div class="showcase-content">
      <h1><span class="text-primary">John Wick:</span> Parabellum</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi
        vel id quia aliquid? Rerum!
      </p>
      <a class="btn" href="#">Watch Now</a>
    </div>
  </div>
</header>