<div class="card">
  <img src={{movie.moviePoster}} alt="profile image" />
  <div class="card-body">
    <h4><b>{{movie.name}}</b></h4>
    <p>{{movie.genre}}</p>
    <p>{{movie.business}}</p>
  </div>
</div>