<div class="card">
  <img src={{actor.profileImage}} alt="profile image" />
  <div class="card-body">
    <h4><b>{{actor.name}}</b></h4>
    <p>{{actor.age}}</p>
    <p>{{actor.gender}}</p>
  </div>
</div>